body {
    padding-top: 80px
}

.page-header h1 {
    font-size: 4em
}

footer {
    margin: 5em 0
}

footer li {
    float: left;
    margin-right: 1.1em;
    margin-bottom: 1.1em
}

footer a {
    color: #18BC9C
}

.navbar-dark .navbar-nav .nav-link {
    color: white
}

.dropdown-item:active {
    background-color: #343a40
}

.dropdown-item:hover {
    background-color: #e7e8e9
}

.pagination {
    margin-top: 1em
}

.page-link {
    color: #fff;
    background-color: #17a2b8;
    border: 0 solid transparent
}

.page-link:hover {
    color: #fff;
    background-color: #138192
}

.page-item.active .page-link {
    background-color: #138192
}

.breadcrumb-item a {
    color: #18BC9C
}

.list-group-item.active {
    background-color: #343a40;
    border-color: #343a40;
}