body {
    padding-top: 80px
}

.page-header h1 {
    font-size: 4em
}

footer {
    margin: 5em 0
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em
}

footer a {
    color: #18BC9C;
}