{% extends 'core/base.html' %}

{% load widget_tweaks %}

{% block title %}
    Carrinho de Compras | {{ block.super }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <div class="page-header">
                <h1>Carrinho de Compras</h1>
            </div>

            <form class="" method="POST">
                {% csrf_token %}

                {{ formset.management_form }}

                <table class="table table-bordered">
                    <thead>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th style='width: 10%;'>Quantidade</th>
                        <th></th>
                    </thead>

                    <tbody>
                        {% for form in formset %}
                            <tr>
                                <td>{{ form.instance.product.pk }}</td>
                                <td>{{ form.instance.product }}</td>
                                <td>R$ {{ form.instance.price|floatformat:'2' }}</td>
                                <td>{% render_field form.quantity class='form-control' %}</td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-sm" value="on" type="submit" name="{{ form.DELETE.html_name }}">remover</button>
                                    {{ form.id }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <p class="text-right">
                    <a href="{% url 'catalog:products' %}" class="btn btn-success float-left">Continuar Compras</a>
                    <button class="btn btn-dark" type="submit" name="button">Atualizar Carrinho</button>
                    <a href="{% url 'checkout:checkout' %}" class="btn btn-info">Finalizar Compra</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
